.stylecharacter {
    width: 120px;
    height: 130px;
    overflow: hidden;
    position: relative;
}

.CharacterSprite {
    position: absolute;
    width: 400px; 
    height: 450px;
    transform: translate(0, 0);
}

.up {
    animation: moveUp 0.5s infinite;
}

.down {
    animation: moveDown 0.5s infinite;
}

.right {
    animation: moveRight 0.5s infinite;
}

.left {
    animation: moveLeft 0.5s infinite;
}

@keyframes moveUp {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-30px);
    }
}

@keyframes moveDown {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(30px);
    }
}

@keyframes moveRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(22.5px);
    }
}

@keyframes moveLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-22.5px);
    }
}

img {
    image-rendering: pixelated;
}
